.about {
  padding: 4rem 0 13.2rem;
  margin-bottom: 9.6rem;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include media-tablet-lg {
    padding: 28px 0 168px;
    margin-bottom: 40px;
  }

  @include media-tablet-sm {
    padding: 20px 0 80px;
  }
}

.about__inner {
  text-align: center;
}

.about__title {
  margin-bottom: 6rem;

  font-size: 32px;

  @include media-tablet-lg {
    margin-bottom: 40px;
  }

  @include media-tablet-sm {
    margin-bottom: 20px;
  }
}

.about__text {
  font-weight: 500;
  font-size: 2.8rem;
  line-height: 1.4;

  @include media-tablet-lg {
    font-size: 20px;
  }

  @include media-tablet-sm {
    font-size: 16px;
  }
}
