extends common/layout

block content
  main
    //Features
    section.features
      .container
        .features__inner
          .title.features__title
            h2 Почему стоит обратиться к нам?
        .features__items
          div
            img(src="assets/img/svg/feature-1.svg", alt="", width="80", height="80", loading="lazy")
            h3 Поставщики на все крупные предприятия Казахстана
          div
            img(src="assets/img/svg/feature-2.svg", alt="", width="80", height="80", loading="lazy")
            h3 Профессионалы своего дела
          div
            img(src="assets/img/svg/feature-3.svg", alt="", width="80", height="80", loading="lazy")
            h3 Официальная гарантия
          div
            img(src="assets/img/svg/feature-4.svg", alt="", width="80", height="80", loading="lazy")
            h3 10 лет на рынке
