extends common/layout

block content
  main
    //Hero
    section.hero
      .container
        .hero__content
          #swiper-hero.swiper.hero__slider
            .hero__slider-controls
              button.hero__slider-button-prev
                <svg width="38" height="24" viewBox="0 0 38 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0.939339 10.9393C0.353554 11.5251 0.353554 12.4749 0.939339 13.0607L10.4853 22.6066C11.0711 23.1924 12.0208 23.1924 12.6066 22.6066C13.1924 22.0208 13.1924 21.0711 12.6066 20.4853L4.12132 12L12.6066 3.51472C13.1924 2.92893 13.1924 1.97918 12.6066 1.3934C12.0208 0.807609 11.0711 0.807609 10.4853 1.3934L0.939339 10.9393ZM37 10.5L2 10.5L2 13.5L37 13.5L37 10.5Z" fill="white"/>
                </svg>
              button.hero__slider-button-next
                <svg width="38" height="24" viewBox="0 0 38 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M37.0607 10.9393C37.6464 11.5251 37.6464 12.4749 37.0607 13.0607L27.5147 22.6066C26.9289 23.1924 25.9792 23.1924 25.3934 22.6066C24.8076 22.0208 24.8076 21.0711 25.3934 20.4853L33.8787 12L25.3934 3.51472C24.8076 2.92893 24.8076 1.97918 25.3934 1.3934C25.9792 0.807609 26.9289 0.807609 27.5147 1.3934L37.0607 10.9393ZM1 10.5L36 10.5L36 13.5L1 13.5L1 10.5Z" fill="#363636"/>
                </svg>
            .swiper-wrapper
              .swiper-slide
                .hero__inner
                  .hero__descrip
                    .hero__title.title
                      h2 Подберем самое надежное оборудование под нужды вашего производства!
                    a.button.button--dark(href="contacts.html") Оставить заявку
                  .hero__img
                    img(src="assets/img/jpg/slide-1.jpg", width="660", height="700", alt="")
              .swiper-slide
                .hero__inner
                  .hero__descrip
                    .hero__title.title
                      h2 Lorem ipsum dolor sit amet consectetur adipisicing.
                    a.button.button--dark(href="contacts.html") Оставить заявку
                  .hero__img
                    img(src="assets/img/jpg/image-1.jpg", width="660", height="700", alt="")
              .swiper-slide
                .hero__inner
                  .hero__descrip
                    .hero__title.title
                      h2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas distinctio nulla ullam excepturi perspiciatis.
                    a.button.button--dark(href="contacts.html") Оставить заявку
                  .hero__img
                    img(src="assets/img/jpg/service-2.jpg", width="660", height="700", alt="")

    //Services
    section.services.section
      .services__descrip
        .container
          .descrip.section
            .descrip__title.title.title--decor.title--dark
              h2
                |Отрасли,
                br
                |с которыми мы работаем
            .descrip__text.text.text--dark
              p Подберем металлообрабатывающее оборудование под нужды производства, как для небольшой производственной фирмы, так и для крупной многофункциональной компании
      .services__items
        .services__items-row
          .services__item(style="background-image: url(assets/img/jpg/service-1.jpg)")
            .services__item-content
              h3.services__item-title.services__item-title--to-hide Металлообработка
              .services__item-num
                img(src="assets/img/svg/01.svg", width="270", height="220", alt="")
              .services__item-descrip
                span.services__item-descrip-num 01.
                h3.services__item-title Металлообработка
                .services__item-descrip-text.text
                  p Наши производственные услуги гарантируют клиентам, что их люди, процессы и продукты являются максимально безопасными и эффективными. От логистики и соблюдения требований, до практики безопасности и обучения, Industify помогает вам защитить свой персонал, отточить свои операции и оставаться конкурентоспособными на рынке.
          .services__item(style="background-image: url(assets/img/jpg/service-2.jpg)")
            .services__item-content
              h3.services__item-title.services__item-title--to-hide машиностроение
              .services__item-num
                img(src="assets/img/svg/02.svg", width="270", height="220", alt="")
              .services__item-descrip
                span.services__item-descrip-num 02.
                h3.services__item-title машиностроение
                .services__item-descrip-text.text
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ab, dicta enim minus iure exercitationem fugit praesentium assumenda tempora, earum omnis veniam hic fuga. Odio adipisci molestiae quaerat eveniet modi? Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quae sit distinctio aliquid libero molestiae dolor iure numquam eum? Aliquam, vitae praesentium quam quo perferendis ipsum autem sint provident fugiat. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eligendi animi minus maxime voluptas? Magni harum expedita possimus itaque ea. Fugit magni libero facere ipsa quis fuga consequuntur nesciunt assumenda quisquam.
          .services__item(style="background-image: url(assets/img/jpg/service-3.jpg)")
            .services__item-content
              h3.services__item-title.services__item-title--to-hide Энергетика
              .services__item-num
                img(src="assets/img/svg/03.svg", width="270", height="220", alt="")
              .services__item-descrip
                span.services__item-descrip-num 03.
                h3.services__item-title Энергетика
                .services__item-descrip-text.text
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate, est.
        .services__items-row.services__items-row--wide
          .services__item.services__item.services__item--wide(style="background-image: url(assets/img/jpg/service-4.jpg)")
            .services__item-content
              h3.services__item-title.services__item-title--to-hide Нефтехимическая промышленность
              .services__item-num
                img(src="assets/img/svg/04.svg", width="270", height="220", alt="")
              .services__item-descrip.services__item-descrip--wide
                span.services__item-descrip-num 04.
                h3.services__item-title Нефтехимическая промышленность
                .services__item-descrip-text.text
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur nesciunt ea, porro iure magni eligendi suscipit quisquam numquam voluptatem! Quidem incidunt adipisci deleniti aut ad. Repellat excepturi perspiciatis esse obcaecati numquam deserunt ut dolore praesentium qui debitis dignissimos ratione, maiores, quas corporis impedit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis repellendus laboriosam esse nam corrupti reiciendis consectetur doloribus molestiae dolore. Quam voluptatibus saepe quidem. Obcaecati, dolores ab. Tempore labore magni saepe?
          .services__item.services__item.services__item--wide(style="background-image: url(assets/img/jpg/service-5.jpg)")
            .services__item-content
              h3.services__item-title.services__item-title--to-hide Металлургическая промышленность
              .services__item-num
                img(src="assets/img/svg/05.svg", width="270", height="220", alt="")
              .services__item-descrip.services__item-descrip--wide
                span.services__item-descrip-num 05.
                h3.services__item-title Металлургическая промышленность
                .services__item-descrip-text.text
                  p Наши производственные услуги гарантируют клиентам, что их люди, процессы и продукты являются максимально безопасными и эффективными. От логистики и соблюдения требований, до практики безопасности и обучения, Industify помогает вам защитить свой персонал, отточить свои операции и оставаться конкурентоспособными на рынке.

    //Features
    section.features.section
      .container
        .features__inner
          .features__title.title.title--dark.title--decor
            h2 Почему стоит обратиться к нам?
        .features__items
          .feature-item
            img(src="assets/img/svg/feature-1.svg", alt="", width="80", height="80", loading="lazy")
            h3 Поставщики на все крупные предприятия Казахстана
          .feature-item
            img(src="assets/img/svg/feature-2.svg", alt="", width="80", height="80", loading="lazy")
            h3 Профессионалы своего дела
          .feature-item
            img(src="assets/img/svg/feature-3.svg", alt="", width="80", height="80", loading="lazy")
            h3 Официальная гарантия
          .feature-item
            img(src="assets/img/svg/feature-4.svg", alt="", width="80", height="80", loading="lazy")
            h3 10 лет на рынке

    //Sectors
    section.sectors.section
      .container
        .sectors__inner
          .sectors__img
            img(src="assets/img/jpg/image-1.jpg", width="740", height="510", alt="", loading="lazy")
          .sectors__descrip
            h2 Нашими клиентами являются предприятия в следующих отраслях промышленности:
            ul.sectors__list
              li Делевообработка и металлообработка
              li Атомная энергетика
              li Машиностроение
              li Нефтехимическая промышленность
              li Предприятия по транспорту нефти и газа

    //Callback
    +sectionCallback
