.features__title {
  margin-bottom: 5rem;
  max-width: 57rem;
  width: 100%;

  @include media-tablet-sm {
    margin-bottom: 20px;
  }
}

.features__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;

  @include media-tablet-lg {
    grid-gap: 20px;
  }

  @include media-tablet-sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-phone-lg {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 15px;
  }
}
