@mixin element-scroll {
  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba($color-white-alpha, 0.7);
    border-radius: 10px;
  }
}
