.callback {
  position: relative;

  padding: 9rem 0;

  background-color: $color-black-alpha;

  &::before,
  &::after {
    position: absolute;

    content: '';

    background: url('../img/svg/dots-5.svg');
    background-repeat: no-repeat;

    width: 514px;
    height: 112px;
  }

  &::before {
    top: 30px;
    left: 1%;

    @include media-laptop {
      left: -10%;
    }

    @include media-tablet-lg {
      left: -32%;
    }

    @include media-tablet-sm {
      display: none;
    }
  }

  &::after {
    bottom: 35px;
    right: 1%;

    @include media-tablet-lg {
      display: none;
    }
  }

  @include media-tablet-lg {
    padding: 60px 0;
  }

  @include media-tablet-sm {
    padding: 40px 0;
  }
}

.callback__form {
  padding: 5rem;

  @include media-tablet-sm {
    padding: 40px 20px;
  }
}
