.form__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 46px 30px;

  margin-bottom: 5rem;

  @include media-tablet-lg {
    grid-gap: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
}

.form__col {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 40px;
}

.form__control {
  position: relative;

  &--high {
    height: 100%;
  }
}

.form__input {
  position: relative;

  width: 100%;

  z-index: 1;

  font-size: 16px;

  padding-bottom: 1.25em;

  border-bottom: 1px solid $color-white-alpha;

  transition: transform 0.1s linear;

  &.error {
    border-color: $color-red-alpha;
    color: $color-red-alpha;

    &::placeholder {
      color: $color-red-alpha;
    }
  }

  &:focus {
    &::placeholder {
      opacity: 0.5;
    }
  }
}

textarea.form__input {
  @include element-scroll;

  height: 100%;

  display: block;
  resize: none;
  padding-bottom: 20px;

  @include media-tablet-lg {
    min-height: 130px;
  }
}

.form__upload-button {
  position: absolute;

  z-index: 1;

  cursor: pointer;

  bottom: 11px;
  right: 0;

  @include media-tablet-sm {
    bottom: 14px;
  }

  &-txt {
    display: flex;
    align-items: center;

    span {
      border-bottom: 1px solid;
      color: $color-blue-alpha;
      font-size: 14px;
      font-weight: 500;
    }

    svg {
      width: 30px;
      height: 30px;

      margin-right: 15px;
    }
  }
}

.form__submit {
  margin: 0 auto;
}
