.header {
  position: relative;
  z-index: 10;

  padding: 1.8rem 0;

  background-color: $color-white-beta;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.06);

  &.open {
    .header__group {
      transform: translateX(0);
    }

    box-shadow: none;
  }

  @include media-tablet-sm {
    position: sticky;

    top: 0;
    left: 0;
  }
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 21rem;

  @include media-tablet-lg {
    max-width: 130px;
  }
}

.header__group {
  display: flex;
  align-items: center;

  @include media-tablet-sm {
    position: fixed;

    flex-direction: column;
    align-items: flex-start;

    top: 68px;
    right: 0;

    height: calc(100vh - 52px);

    overflow-y: auto;

    padding: 45px 20px;

    width: 100%;
    max-width: 215px;

    transform: translateX(100%);

    transition: transform 0.2s ease-in-out;

    background-color: $color-white-beta;
    box-shadow: inset 0px 3px 10px rgba(0, 0, 0, 0.06);
  }
}

.header__menu {
  margin-right: 6.5rem;

  @include media-tablet-lg {
    margin-right: 30px;
  }

  @include media-tablet-sm {
    margin-right: 0;
    margin-bottom: 27px;
  }
}

.header__menu-list {
  display: flex;

  li {
    &:not(:last-child) {
      margin-right: 6.5rem;

      @include media-tablet-lg {
        margin-right: 30px;
      }

      @include media-tablet-sm {
        margin-right: 0;
        margin-bottom: 27px;
      }
    }
  }

  a {
    color: $color-black-alpha;
    font-weight: 700;
    font-size: 16px;

    transition: color 0.1s linear;

    &:hover {
      color: $color-blue-alpha;
    }

    @include media-tablet-sm {
      font-size: 20px;
    }
  }

  @include media-tablet-sm {
    flex-direction: column;
  }
}

.header__contacts {
  display: flex;

  li {
    &:not(:last-child) {
      margin-right: 6.5rem;

      @include media-tablet-lg {
        margin-right: 30px;
      }

      @include media-tablet-sm {
        margin-right: 0;
        margin-bottom: 27px;
      }
    }
  }

  a {
    display: flex;
    align-items: center;

    color: $color-blue-alpha;
    font-weight: 500;
    font-size: 16px;
  }

  svg {
    margin-right: 10px;
    fill: $color-blue-alpha;
  }

  @include media-tablet-sm {
    flex-direction: column;
  }
}

.header__burger {
  display: none;
  align-items: center;

  @include media-tablet-sm {
    display: flex;
  }
}

.header__burger-contacts {
  display: flex;
  align-items: center;

  margin-right: 28px;

  li {
    &:not(:last-child) {
      margin-right: 25px;

      @include media-phone-sm {
        margin-right: 15px;
      }
    }
  }

  @include media-phone-sm {
    margin-right: 20px;
  }
}
