.title {
  font-size: 3.2rem;
  text-transform: uppercase;
  color: $color-white-alpha;
  font-weight: 700;
  line-height: 1.5;

  &--decor {
    position: relative;
    display: flex;

    &::before {
      display: inline-block;

      content: '';

      margin-top: 0.65em;
      margin-right: 15px;

      min-width: 3.5rem;
      height: 0.5rem;

      background-color: $color-black-alpha;

      @include media-tablet-lg {
        display: none;
      }
    }
  }

  &--dark {
    color: $color-black-alpha;
  }

  h1,
  h2,
  h3 {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
  }

  @include media-tablet-lg {
    font-size: 20px;
  }
}
